
* {
    box-sizing: border-box;
}

.cf::before,
.cf::after {
    content: "";
    display: table;
}

.cf::after {
    clear: both;
}

html {
    position: relative;
}

img {
    max-width: 100%;
}

/* ========================
Global
======================== */

body {
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin-top: 0;
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
}


/* ========================
Containers
======================== */

.container-fluid {
    padding: 0 1em;
}

.container {
    margin: 0 auto;
    max-width: 100%;

    padding: 0
}

/* ========================
Navigation
======================== */

.splash {
    background: linear-gradient(rgb(44 62 80 / 0%), rgb(52 152 219 / 25%)), url("https://c0.wallpaperflare.com/preview/752/219/580/nature-camp-camping-forest.jpg") no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

    .splash .container {
        padding-top: 25vh; /* No JS fallback*/
        padding-bottom: 25vh; /* No JS fallback*/
        height: 96vh
    }

.profile-image {
    border-radius: 50%;
    display: block;
    max-width: 200px;
    margin: 0 auto 1em;
    width: 100%;
}

.splash h1 {
    font-size: 3em;
    margin-bottom: .15em;
    text-align: center;
}

.splash .lead, .splash .continue {
    display: block;
    text-align: center;
}

.splash .lead {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
}

.splash .continue {
    font-size: 4em;
}

    .splash .continue a {
        border: 4px solid #fff;
        border-radius: 100%;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        width: 80px;
    }

        .splash .continue a:hover {
            background-color: rgba(255, 255, 255, .25);
        }

.intro .container, .features .container, .portfolio .container, .contact .container {
    padding: 5em 0;
}

.intro, .features, .portfolio, .contact {
    text-align: center;
}

.intro {
    background-color: #4e73df;
    color: #fff;
}

    .intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
        color: #fff;
    }


/* ========================
Footer
======================== */

.footer {
    background-color: #2C3E50;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

    .footer .container {
        padding: 1em 0;
    }

    .footer a {
        color: #fff;
        margin-right: 1em;
    }

        .footer a:last-of-type {
            margin-right: 0;
        }

/* ========================
Media Queries
======================== */
