html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#sa{
    background: aqua;

}

.navbar-nav > .active {
    background: #4e73dfad;
    transition: 1s;
    border-radius: 5px;
}

.nav-item > a:hover {
    background: #4e73df36;
    transition: 1s;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}